.about__initial-part {
    margin-top: 180px;
}

.about__container {
    width: 870px;
    display: flex;
    justify-content: space-between;

    text-align: center;
    margin: auto;
    margin-top: 90px;
}

.container__item {
    width: 255px;
    padding: 0 12px;
}

.container__item img {
    width: 80px;
}

.container__item__title {
    margin-top: 27px;
    margin-bottom: 20px;
}

.container__item__text {
    color: var(--subtitle-color);
    font-size: 18px;
}

.about__img {
    width: 100%;
    margin: auto;
    margin-top: 50px;
}

@media (max-width: 1200px) {
    .about__initial-part {
        margin-top: 150px;
    }
}

@media (max-width: 1024px) {
    .about__container {
        width: 100%;
        align-items: center;
    }

    .container__item {
        width: 31%;
        padding: 0;
    }

    .container__item__text {
        font-size: 17px;
    }
}

@media (max-width: 767px) {
    .about__initial-part {
        margin-top: 120px;
    }

    .container__item {
        width: 30%;
    }

    .container__item img {
        width: 70px;
    }

    .container__item__text {
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    .container__item__title {
        line-height: 20px;
    }

    .container__item__text {
        font-size: 15px;
    }
}

@media (max-width: 425px) {
    .about__initial-part {
        margin-top: 80px;
    }

    .about__container {
        flex-direction: column;
        margin-top: 60px;
        gap: 30px;
    }

    .container__item {
        width: 200px;
    }

    .container__item__title {
        margin-top: 17px;
        margin-bottom: 13px;
    }

    .container__item__text {
        font-size: 14px;
    }
}