.contact__initial-part {
    margin: 180px auto 70px auto;
}

.contact__main-part {
    display: flex;
    justify-content: space-between;

    margin: auto;
    margin-bottom: 100px;
}

.contact__form {
    display: flex;
    flex-direction: column;

    width: 36%;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;

    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    padding: 52px 50px;
}

.contact__form input, .contact__form textarea {
    width: 100%;
    margin-top: 45px;
}

.form__message {
    height: 200px;
    border-radius: 0;
}

.contact__form button {
    margin-top: 45px;
    margin-left: 0;
}

.contact__info {
    width: 60%;
}

.main-info {
    display: flex;
}

.main-info__item {
    text-align: center;
    margin-right: 32px;
}

.main-info__item:first-of-type {
    width: 40%;
}

.main-info__item:last-of-type {
    margin-right: 0;
}

.main-info__item img {
    margin-bottom: 15px;
}

.main-info__item:last-of-type img {
    margin-top: 7px;
}

.contact__info-image {
    display: block;
    width: 510px;
    margin: 70px auto;
}

.info__social-networks {
    text-align: center;
}

@media (max-width: 1200px) { 
    .contact__form {
        padding: 32px 30px;
    }

    .contact__form input, .contact__form textarea {
        margin-top: 30px;
    }

    .contact__info-image {
        margin: 50px auto;
    }

    .contact__initial-part {
        margin-top: 140px;
    }
}

@media (max-width: 1024px) {
    .contact__form {
        width: 45%;
        padding: 30px 22px;
    }

    .contact__form button {
        margin-top: 30px;
    }

    .form__message {
        height: 180px;
    }

    .contact__info {
        width: 51%;
    }
    
    .main-info {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .main-info__item {
        margin-right: 0;
    }

    .main-info__item:last-of-type {
        margin-top: 10px;
    }

    .contact__info-image {
        width: 100%;
        margin: 38px auto;
    }
}

@media (max-width: 767px) {
    .contact__main-part {
        flex-direction: column;
        margin-bottom: 60px;
    }

    .contact__form {
        order: 1;
        width: 60%;
        padding: 30px 22px;
        margin: 0 auto 50px auto;
    }

    .contact__form button {
        margin: 20px auto 0 auto;
    }

    .contact__info {
        width: 90%;
        margin: 0 auto 50px auto;
    }
}

@media (max-width: 600px) {
    .contact__form {
        width: 310px;
    }

    .contact__info {
        width: 360px;
    }

    .main-info__item:last-of-type {
        margin-top: 15px;
    }
}

@media (max-width: 425px) {
    .contact__initial-part {
        margin-top: 100px;
    }

    .contact__main-part {
        margin-bottom: 50px;
    }

    .contact__form {
        width: 280px;
    }

    .contact__info {
        width: 320px;
    }
}

@media (max-width: 375px) {
    .contact__form {
        width: 260px;
    }

    .contact__info {
        width: 280px;
    }
}

