.header {
    height: 920px;
    background-image: url("../img/intro.svg");

    background-position: bottom;
    background-size: cover;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-self: center;

    width: 1210px;
    height: 156px;
    margin: auto;
}

.header__menu {
    margin-top: 50px;
}

.menu__item {
    color: var(--intro-color);
    font-size: 15px;
    line-height: 28px;

    text-align: center;
    letter-spacing: 0.2px;

    margin-right: 40px;
}

.social-networks {
    margin-top: 50px;
}

.social-networks__item {
    margin-left: 30px;
}

.header__intro {
    width: 766px;
    margin: auto;
}

.intro__title {
    margin-top: 175px;
    margin-bottom: 27px;
}

.intro__subtitle {
    color: var(--intro-color);
    font-size: 28px;
    line-height: 40px;

    text-align: center;
    letter-spacing: 0.2;
}

.intro__button {
    margin-top: 100px;
}