@import "global.css";
@import "header.css";
@import "about.css";
@import "product.css";
@import "partners.css";
@import "testimonials.css";
@import "pricing.css";
@import "contact.css";
@import "footer.css";