.partners__initial-part p {
    margin-bottom: 92px;
}

.partners__collection {
    padding: 0 80px;
    margin: auto;
}

.partners__collection-row {
    display: flex;
    flex-wrap: nowrap;
}

.partners_item {
    border: 1px solid #D8D8D8;
    text-align: center;
}

.partners_text {
    margin-top: 31px;
    margin-bottom: 20px;
}

.partners_item img {
    width: 70%;
    margin-bottom: 12px;
}

.partners__button {
    margin-top: 90px;
    margin-bottom: 170px;
}

@media (max-width: 1200px) {
    .partners__button {
        margin-top: 90px;
        margin-bottom: 200px;
    }
}

@media (max-width: 1024px) {
    .partners__initial-part p {
        margin-bottom: 70px;
    }

    .partners__collection {
        padding: 0 10px;
    }

    .partners__button {
        margin-top: 70px;
        margin-bottom: 160px;
    }
}