.pricing {
    background-color: var(--title-color);
}

.pricing__initial-part {
    padding-top: 100px;
}

.pricing__initial-part h2 {
    color: var(--link-color);
}

.pricing__initial-part p {
    color: var(--link-color);
    margin-bottom: 90px;
}

.pricing__tariffs {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 65px 100px 65px;
    margin: auto; 
}

.tariffs__item {
    width: 30%;
    background-color: var(--intro-color);
    text-align: center;

    border: 1px solid #DEDEDE;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
}

.tariffs__item:nth-child(2) {
    background-color: var(--button-color);
}

.tariff__title {
    margin-top: 40px;
    margin-bottom: 3px;
}

.tariffs__item:nth-child(2) .tariff__title {
    color: var(--link-color);
    margin-top: 90px;
}

.tariff__subtitle {
    width: 148px;
    margin: auto;
    margin-bottom: 18px;
}

.tariffs__item:nth-child(2) .tariff__subtitle {
    color: var(--link-color)
}

.tariff__price {
    display: flex;
    justify-content: center;

    width: 185px;
    margin: auto;
}

.price__quantity {
    color: var(--title-color);
    margin-right: 10px;
    margin-bottom: 25px;
}

.tariffs__item:nth-child(2) .price__quantity {
    color: var(--link-color);
}

.price__currency {
    text-align-last: left;
    margin-top: 12px;
    margin-bottom: 2px;
}

.tariffs__item:nth-child(2) .price__currency {
    color: var(--link-color);
}

.tariffs__item:nth-child(2) .price__duration {
    color: var(--link-color);
}

.tariff__features__item {
    color: var(--title-color);
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 20px;
}

.tariffs__item:nth-child(2) .tariff__features__item {
    color: var(--link-color);
}

.tariff__button {
    margin-top: 50px;
    margin-bottom: 50px;
}

.tariffs__item:nth-child(2) .tariff__button {
    color: var(--button-color);
    background-color: var(--link-color);
    margin-bottom: 100px;
}

@media (max-width: 1200px) { 
    .pricing__tariffs {
        padding: 0 5px 100px 5px;
    }
}

@media (max-width: 1024px) {
    .pricing__tariffs {
        padding: 0 0 100px 0;
    }

    .tariffs__item {
        width: 31.5%;
    }

    .tariffs__item:nth-last-of-type(2) {
        width: 32%;
    }

    .tariff__title {
        margin-top: 30px;
    }

    .tariffs__item:nth-child(2) .tariff__title {
        margin-top: 60px;
    }

    .tariff__subtitle {
        margin-bottom: 12px;
    }

    .price__quantity {
        margin-bottom: 15px;
    }

    .price__currency {
        margin-top: 7px;
        margin-bottom: 0;
    }

    .tariff__features__item {
        margin-bottom: 15px;
    }

    .tariff__button {
        width: 180px;
        margin: 36px auto 40px auto;
    }

    .tariffs__item:nth-child(2) .tariff__button {
        margin-bottom: 60px;
    }
}

@media (max-width: 767px) {
    .pricing__initial-part p {
        padding: 0 20px;
    }

    .pricing__tariffs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .tariffs__item {
        width: 300px;
        margin-bottom: 40px;
    }

    .tariffs__item:last-of-type {
        margin-bottom: 0;
    }

    .tariffs__item:nth-of-type(2) {
        width: 300px;
    }

    .tariff__title {
        margin-top: 40px;
    }

    .tariffs__item:nth-of-type(2) .tariff__title {
        margin-top: 40px;
    }

    .price__quantity {
        font-size: 50px;
        margin-bottom: 20px;
    }

    .price__currency {
        margin-top: 3px;
    }

    .tariff__features__item {
        margin-bottom: 20px;
    }

    .tariffs__item:nth-of-type(2) .tariff__button {
        margin-bottom: 40px;
    }
}


@media (max-width: 425px) {
    .pricing__initial-part p {
        margin-bottom: 60px;;
    }

    .tariffs__item {
        width: 270px;
    }

    .tariffs__item:nth-last-of-type(2) {
        width: 270px;
    }

    .tariff__subtitle {
        margin-bottom: 16px;
    }

    .price__currency {
        margin-top: 0;
    }

    .tariff__features__item {
        font-size: 14px;
    }
}

@media (max-width: 375px) {
    .tariffs__item {
        width: 250px;
    }

    .tariffs__item:nth-last-of-type(2) {
        width: 250px;
    }
}