.product__section {
    display: flex;
    justify-content: space-between;
    margin: 280px auto;
}

.product__initial-part {
    text-align: left;
    margin-left: 0;
}

.product__initial-part h2 {
    margin-right: 120px;
}

.product__initial-part p {
    margin: 25px 0 70px 0;
}

.initial-part__button {
    margin-left: 0;
}

.product__section__envelope  {
    width: 600px;
}

.product__email-block {
    width: 470px;
    margin-right: 0;
}

.email-block__pre-text {
    text-align: left;
    margin-bottom: 17px;
}

.email-block__subtitle {
    text-align: left;
    margin-top: 35px;
}

.email-block__text {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.2px;
    margin-bottom: 36px;
}

.product__form {
    display: flex;
}
