.product__section {
    display: flex;
    width: 1243.3px;

    justify-content: space-between;
    margin: 280px auto 290px auto;
}

.product__initial-part {
    width: 532px;
    text-align: left;
}

.product__initial-part h2 {
    width: 400px;
}

.product__initial-part p {
    margin: 25px 0 70px 0;
}

.initial-part__button {
    margin-left: 0;
}

.product__section__envelope  {
    width: 600px;
}

.product__email-block {
    width: 470px;
}

.email-block__pre-text {
    text-align: left;
    margin-bottom: 17px;
}

.email-block__subtitle {
    text-align: left;
    margin-top: 35px;
}

.email-block__text {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.2px;
    margin-bottom: 36px;
}

.product__form {
    display: flex;
}

.product__form input {
    color: #18171D;
    font-size: 14px;
    line-height: 16px;

    width: 273px;

    background: #F4F4F4;
    border: 1px solid #E8E8E8;
    border-radius: 39px;

    padding: 19px 32px;
}

.product__form button {
    display: block;
    width: 172px;

    color: var(--link-color);
    background-color: var(--button-color);
    font-size: 20px;
    line-height: 20px;
    border: 0px;
    border-radius: 35px;
    
    text-align: center;
    letter-spacing: 0.2px;

    padding: 16px 0;
    margin: auto;
}