.product__section {
    display: flex;
    justify-content: space-between;
    margin: 280px auto;
}

.product__initial-part {
    text-align: left;
    margin-left: 0;
}

.product__initial-part h2 {
    margin-right: 120px;
}

.product__initial-part p {
    margin: 25px 0 70px 0;
}

.initial-part__button {
    margin-left: 0;
}

.product__section__envelope  {
    width: 600px;
}

.product__email-block {
    width: 470px;
    margin-right: 0;
}

.email-block__pre-text {
    text-align: left;
    margin-bottom: 17px;
}

.email-block__subtitle {
    text-align: left;
    margin-top: 35px;
}

.email-block__text {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.2px;
    margin-bottom: 36px;
}

.product__form {
    display: flex;
}

@media (max-width: 1200px) {
    .product__section {
        margin: 200px auto;
    }

    .product__initial-part p {
        margin-bottom: 40px;
    }

    .product__section img {
        align-self: center;
        width: 450px;
        height: 100%;
    }
}

@media (max-width: 1024px) {
    .product__section {
        margin: 160px auto;
    }

    .product__email-block {
        width: 320px;
    }

    .product__section img {
        align-self: center;
        width: 360px;
    }

    .product__initial-part p {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .email-block__subtitle {
        margin-top: 25px;
    }

    .email-block__pre-text {
        margin-bottom: 10px;
    }

    .email-block__text {
        font-size: 16px;
        margin-bottom: 25px;
    }

    .product__form {
        flex-wrap: wrap;
        justify-content: start;
    }

    .product__form button {
        margin: 0;
        margin-top: 15px;
    }
}
