.initial-part__image {
    width: 150px;
    margin-top: 90px;
    margin-bottom: 30px;
}

.testimonials__initial-part {
    width: 967px;
}

.testimonials__commentator {
    display: flex;
    justify-content: space-between;

    width: 200px;
    height: 55px;
    margin: 60px auto 90px auto;
}

.testimonials__commentary-work {
    display: block;
    margin-top: 10px;
}

.testimonials__button {
    margin-bottom: 115px;
}

@media (max-width: 1200px) {
    .testimonials__initial-part {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .testimonials__commentator {
        margin-bottom: 70px;
    }

    .testimonials__button {
        width: 220px;
    }
}